@model SofthemeRoomBooking.Models.FeedbackViewModel

@section Styles {
    @Styles.Render("~/Content/Styles/feedback")
}

<p class="content__title">
    Написать сообщение
</p>
<div class="content__cover ">
    <p class="content__text">
        Напишите, если у вас есть идеи, предложения, замечания или вопросы.
    </p>
    <img src="~/Content/Images/contact-bg.png">
</div>

@using (Html.BeginForm("Send", "Feedback", FormMethod.Post, new { @class = "feedback-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();

    <div class="group-input-error feedback-form__field-fname">
        @Html.SignalValidationMessageFor(model => model.Name, new { @class = "error-box__text-danger" })
        @Html.EditorFor(model => model.Name, new
        {
            htmlAttributes = new
            {
                @class = "input-text feedback-form__field-fname",
                placeholder = "Имя"
            }
        })
    </div>

    <div class="group-input-error feedback-form__field-sname">
        @Html.SignalValidationMessageFor(model => model.Surname, new {@class = "error-box__text-danger"})
        @Html.EditorFor(model => model.Surname, new
        {
            htmlAttributes = new
            {
                @class = "input-text feedback-form__field-sname",
                placeholder = "Фамилия"
            }
        })
    </div>

    <div class="group-input-error feedback-form__field-email">
        @Html.SignalValidationMessageFor(model => model.Email, new {@class = "error-box__text-danger"})
        @Html.EditorFor(model => model.Email, new
        {
            htmlAttributes = new
            {
                @class = "input-text feedback-form__field-email",
                placeholder = "Адрес электронной почты"
            }
        })
    </div>

    <div class="group-input-error feedback-form__field-message">
        @Html.SignalValidationMessageFor(model => model.Message, new {@class = "error-box__text-danger"})
        @Html.EditorFor(model => model.Message, new
        {
            htmlAttributes = new
            {
                @class = "input-textarea feedback-form__field-message"
            }
        })
    </div>

    <input class="input-submit feedback-form__submit" type="submit" value="Отправить"/>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}