@model SofthemeRoomBooking.Models.UserViewModels.ProfileUserViewModel
    
<div class="container container-change-password">
    <p class="container-change-password__title">Изменить пароль</p>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="group-input-error container-change-password__form-group">
            @Html.SignalValidationMessageFor(model => model.ChangePasswordViewModel.OldPassword, new { @class = "error-box__text-danger" })
            @Html.EditorFor(model => model.ChangePasswordViewModel.OldPassword, new
       {
           htmlAttributes = new
           {
               @class = "input-text container-change-password__input-text",
               placeholder = "Старый пароль"
           }
       })
        </div>

        <div class="group-input-error container-change-password__form-group">
            @Html.SignalValidationMessageFor(model => model.ChangePasswordViewModel.NewPassword, new { @class = "error-box__text-danger" })
            @Html.EditorFor(model => model.ChangePasswordViewModel.NewPassword, new
       {
           htmlAttributes = new
           {
               @class = "input-text container-change-password__input-text",
               placeholder = "Новый пароль"
           }
       })
        </div>

        <div class="group-input-error container-change-password__form-group">
            @Html.SignalValidationMessageFor(model => model.ChangePasswordViewModel.ConfirmPassword, new { @class = "error-box__text-danger" })
            @Html.EditorFor(model => model.ChangePasswordViewModel.ConfirmPassword, new
       {
           htmlAttributes = new
           {
               @class = "input-text container-change-password__input-text",
               placeholder = "Повторите новый пароль"
           }
       })
        </div>

        <input class="input-submit container-change-password__submit" type="submit" value="Сохранить" />
    }
</div>


