@model SofthemeRoomBooking.Models.ChangePasswordViewModel

@{
    Layout = null;
}

<p class="container-change-password__title">Изменить пароль</p>

@Html.ValidationSummary(true, "", new {@class = "error-box__text-danger"})
<form id="change-password-form" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="group-input-error container-change-password__form-group">
        @Html.SignalValidationMessageFor(model => model.OldPassword, new {@class = "error-box__text-danger"})
        @Html.EditorFor(model => model.OldPassword, new
        {
            htmlAttributes = new
            {
                @class = "input-text container-change-password__input-text",
                placeholder = "Старый пароль"
            }
        })
    </div>

    <div class="group-input-error container-change-password__form-group">
        @Html.SignalValidationMessageFor(model => model.NewPassword, new {@class = "error-box__text-danger"})
        @Html.EditorFor(model => model.NewPassword, new
        {
            htmlAttributes = new
            {
                @class = "input-text container-change-password__input-text",
                placeholder = "Новый пароль"
            }
        })
    </div>

    <div class="group-input-error container-change-password__form-group">
        @Html.SignalValidationMessageFor(model => model.ConfirmPassword, new {@class = "error-box__text-danger"})
        @Html.EditorFor(model => model.ConfirmPassword, new
        {
            htmlAttributes = new
            {
                @class = "input-text container-change-password__input-text",
                placeholder = "Повторите новый пароль"
            }
        })
    </div>

    <input class="input-submit container-change-password__submit" type="submit" value="Сохранить"/>
</form>

@if (ViewBag.PasswordSuccessfulyChanged != null)
{
    <div class="container-success">
        <i class="fa fa-check-circle success-sign" aria-hidden="true"></i>
        <span class="success-message">Пароль успешно изменен</span>
    </div>
}

<script>
    $(function () {
        $("#change-password-form").on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                url: '@Url.Action("ChangePassword")',
                method: 'POST',
                async: true,
                data: $("#change-password-form").serialize(),
                dataType: 'html',
                success: function (result) {
                        $(".container-change-password").html(result);
                }
            });
        });
    })
</script>
