@using Microsoft.AspNet.Identity
@model SofthemeRoomBooking.Models.UserViewModels.ProfileUserViewModel

@section Styles {
    @Styles.Render("~/Content/Styles/profile")
}

<div id="popup-confirmation" class="overlay"></div>

<div class="container-button">
    <input id="deleteButton" class="input-submit container-button-form button-control hidden" type="submit" value="Удалить"/>

    @if (Model.Id == User.Identity.GetUserId())
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoffButton", @class = "container-button-form" }))
        {
            @Html.AntiForgeryToken()
            <input class="input-submit button-control" type="submit" value="Выйти" />
        }
    }
</div>
<div class="container container-info">
    <p class="container-info__title">
        @Model.UserName
        @if (Model.AdminRole)
        {
            <label class="admin-label">admin</label>
        }
    </p>

    <p class="container-info__info">
        <span><b>Email: </b></span>
        <span>@Model.Email</span>
    </p>
    <p class="container-info__info">
        <span><b>Количество активных событий: </b></span>
        <span>@Model.ActiveEvents</span>
    </p>

    <div class="container-info__button">
        <button id="editButton" class="button button-control">Изменить</button>
    </div>
</div>

@Html.Action("Edit", new { userId = Model.Id })

@if (Model.Id == User.Identity.GetUserId())
{
    <div class="container container-change-password">
        @Html.Action("ChangePassword", new {userId = Model.Id})
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}

<script>
    $('#editButton').click(function () {
        $('#logoffButton').addClass('hidden');
        $('#deleteButton').removeClass('hidden');

        $('.container-info').addClass('hidden');
        $('.container-edit-profile').removeClass('hidden');
    });

    $('#deleteButton').bind('click', function(e) {
        e.preventDefault();

        $.ajax({
            url: '@Url.Action("Delete")',
            method: 'GET',
            cache: true,
            data: { userId: '@Model.Id' },
            dataType: 'html',
            success: function(result) {
                $('#popup-confirmation').html(result);
                $('#popup-confirmation').show();
            }
        });
    });
</script>
