@using System.Security.Claims
@model SofthemeRoomBooking.Models.UserViewModels.ProfileUserViewModel

<div class="container-button">
    <button id="exitButton" class="button button-control hidden">Удалить</button>
    <button id="deleteButton" class="button button-control">Выйти</button>
</div>

<div class="container container-info">
    <p class="container-info__title">
        Ольга Таран
        <label class="admin-label">admin</label>
    </p>

    <p class="container-info__info">
        <span><b>Email: </b></span>
        <span>nagayko.WebMail.ru</span>
    </p>@((User.Identity as ClaimsIdentity).Claims.FirstOrDefault(x => x.Type == "firstname"))>
    <p class="container-info__info">
        <span><b>Количество активных событий: </b></span>
        <span>12</span>
    </p>

    <div class="container-info__button">
        <button id="editButton" class="button button-control">Изменить</button>
    </div>
</div>

<div class="container container-edit-profile hidden">
    @using (Html.BeginForm("Save", "Profile", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="group-input-error">
            @Html.SignalValidationMessageFor(model => model.UserName, new {@class = "error-box__text-danger"})
            @Html.EditorFor(model => model.UserName, new
            {
                htmlAttributes = new
                {
                    @class = "input-text container-edit-profile__input-text",
                }
            })
        </div>

        <div class="group-input-error">
            @Html.SignalValidationMessageFor(model => model.UserName, new {@class = "error-box__text-danger"})
            @Html.EditorFor(model => model.UserName, new
            {
                htmlAttributes = new
                {
                    @class = "input-text container-edit-profile__input-text",
                }
            })
        </div>

        <div class="container-edit-profile__checkbox">
            <input type="checkbox" id="checkbox" class="checkbox"/>
            <label for="checkbox">Администратор</label>
        </div>

        <div class="container-edit-profile__container-submit">
            <input class="input-submit container-edit-profile__submit" type="submit" value="Сохранить" />
        </div>
    }
</div>

@*<div class="container container-change-password">
    <p class="container-change-password__title">Изменить пароль</p>

    @using (Html.BeginForm("Save", "HrDepartment", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="group-input-error container-change-password__form-group">
            @Html.SignalValidationMessageFor(model => model.UserName, new {@class = "error-box__text-danger"})
            @Html.EditorFor(model => model.UserName, new
            {
                htmlAttributes = new
                {
                    @class = "input-text container-change-password__input-text",
                    placeholder = "Старый пароль"
                }
            })
        </div>

        <div class="group-input-error container-change-password__form-group">
            @Html.SignalValidationMessageFor(model => model.UserName, new {@class = "error-box__text-danger"})
            @Html.EditorFor(model => model.UserName, new
            {
                htmlAttributes = new
                {
                    @class = "input-text container-change-password__input-text",
                    placeholder = "Новый пароль"
                }
            })
        </div>

        <div class="group-input-error container-change-password__form-group">
            @Html.SignalValidationMessageFor(model => model.Email, new {@class = "error-box__text-danger"})
            @Html.EditorFor(model => model.Email, new
            {
                htmlAttributes = new
                {
                    @class = "input-text container-change-password__input-text",
                    placeholder = "Повторите новый пароль"
                }
            })
        </div>

        <input class="input-submit container-change-password__submit" type="submit" value="Сохранить" />
    }
</div>*@

@Html.Partial("_ChangePasswordPartial", null);

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/hr_department")
}

