@model SofthemeRoomBooking.Models.EventViewModel.EventViewModel

<div class="eventindex-edit">
    <div class="group-input-error">
        @Html.SignalValidationMessageFor(model => model.Title, new { @class = "error-box__text-danger" })
        @Html.EditorFor(model => model.Title, new
       {
           htmlAttributes = new
           {
               @class = "input-text event-input eventindex-edit__title",
               placeholder = "Заголовок"
           }
       })
    </div>

    <div class="eventindex-edit__choose-organizator">
        <div class="container-checkbox">
            <input type="checkbox" class="checkbox" id="organizator-checkbox" />
            <label for="organizator-checkbox">Показать автора</label>
        </div>

        <span class="label-or">или</span>

        @Html.EditorFor(model => model.Nickname, new
       {
           htmlAttributes = new
           {
               @class = "input-text event-input eventcontainer-body__organizator-name",
               placeholder = "Указать организатора"
           }
       })
    </div>

    <div class="group-input-error">
        @Html.SignalValidationMessageFor(model => model.Description, new { @class = "error-box__text-danger" })
        @Html.EditorFor(model => model.Description, new
       {
           htmlAttributes = new
           {
               @class = "input-textarea event-input eventindex-edit__description",
               placeholder = "Дополнительная информация"
           }
       })
    </div>

    <div class="eventindex-edit__publicity">
        <div class="container-checkbox">
            @Html.CheckBoxFor(model => model.AllowRegistration, new { @class = "checkbox" })
            @Html.LabelFor(model => model.AllowRegistration, "Регистрация желающих")
        </div>

        <div class="container-switchbox">
            <span class="label-publicity">Публично</span>
            <div class="switchbox-publicity">
                @Html.CheckBoxFor(model => model.Private, new { @class = "switchbox" })
                @Html.LabelFor(model => model.Private, " ")
            </div>
            <span class="label-private">Приватно</span>
        </div>
    </div>
</div>

