@using Microsoft.AspNet.Identity
@model SofthemeRoomBooking.Models.EventViewModel.EventIndexViewModel

@Styles.Render("~/bundles/Styles/datetimepickers")

<div id="popup-confirmation" class="overlay"></div>

<div class="eventindex">
    <div class="eventindex-info">
        <p class="eventindex-info__title">@Model.Title</p>
        <p class="eventindex-info__autor">
            <i class="fa fa-user user-icon" aria-hidden="true"></i>
            <span class="user-name">@Model.Organizator</span>
        </p>
        <p class="eventindex-info__description">
            @Model.Description
        </p>

        @if (Model.AllowRegistration && Model.StartTime > DateTime.Now)
        {
            <div class="eventindex-info__join-to-event">
                <span>Планируют принять участие @Model.ParticipantsQuantity человек</span>
                
                @if (Model.IdUser != User.Identity.GetUserId())
                {
                    <span class="join-label">Присоединиться</span>
                    @Html.Action("AddParticipant", "Event", new { eventId =  Model.Id })
                }
            </div>
        }
    </div>

    <div class="eventindex-edit hidden">
        @using (Html.BeginForm("EditEvent", "Event", FormMethod.Post, new { id = "eventindex-editform", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="group-input-error">
                @Html.SignalValidationMessageFor(model => model.Title, new {@class = "error-box__text-danger"})
                @Html.EditorFor(model => model.Title, new
                {
                    htmlAttributes = new
                    {
                        @class = "input-text event-input eventindex-edit__title",
                        placeholder = "Заголовок"
                    }
                })
            </div>

            <div class="eventindex-edit__choose-organizator">
                <div class="container-checkbox">
                    <input type="checkbox" class="checkbox" id="ShowOrganizator"/>
                    <label for="ShowOrganizator">Показать автора</label>
                </div>

                <span class="label-or">или</span>

                <div class="group-input-error" style="width: 60%;">
                    @Html.SignalValidationMessageFor(model => model.Nickname, new {@class = "error-box__text-danger"})
                    @Html.EditorFor(model => model.Nickname, new
                    {
                        htmlAttributes = new
                        {
                            @class = "input-text event-input eventindex-edit__organizator",
                            placeholder = "Указать организатора"
                        }
                    })
                </div>
            </div>



            <div class="group-input-error">
                @Html.SignalValidationMessageFor(model => model.Description, new {@class = "error-box__text-danger"})
                @Html.EditorFor(model => model.Description, new
                {
                    htmlAttributes = new
                    {
                        @class = "input-textarea event-input eventindex-edit__description",
                        placeholder = "Дополнительная информация"
                    }
                })
            </div>

            <div class="eventindex-edit__publicity">
                <div class="container-checkbox">
                    @Html.CheckBoxFor(model => model.AllowRegistration, new {@class = "checkbox"})
                    @Html.LabelFor(model => model.AllowRegistration, "Регистрация желающих")
                </div>

                <div class="container-switchbox">
                    <span class="label-publicity">Публично</span>
                    <div class="switchbox-publicity">
                        @Html.CheckBoxFor(model => model.Private, new {@class = "switchbox"})
                        @Html.LabelFor(model => model.Private, " ")
                    </div>
                    <span class="label-private">Приватно</span>
                </div>
            </div>

            <span class="eventindex-edit__participants-count">Планируют принять участие @Model.ParticipantsQuantity человек</span>

            @Html.HiddenFor(model => model.Day)
            @Html.HiddenFor(model => model.Month)
            @Html.HiddenFor(model => model.Year)
            @Html.HiddenFor(model => model.StartHour)
            @Html.HiddenFor(model => model.StartMinutes)
            @Html.HiddenFor(model => model.EndHour)
            @Html.HiddenFor(model => model.EndMinutes)
        }
    </div>

    <div class="eventindex-time">
        <div class="eventindex-time__header">
            <div class="event-date-container">
                <i class="fa fa-calendar calendar-icon" aria-hidden="true"></i>
                <div id="event-date" class="date"></div>
            </div>
            <div class="event-date-container">
                <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>
                <div id="event-timestart"></div> -
                <div id="event-timefinish"></div>
            </div>
        </div>
        <div class="eventindex-time__body">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <i class="fa fa-print" aria-hidden="true"></i>
        </div>

        @if (Model.IdUser == User.Identity.GetUserId() && Model.StartTime > DateTime.Now)
        {
            <div class="eventindex-time__buttons">
                <button id="editButton" class="button event-btn edit-btn">Изменить</button>
                <button id="cancelEventButton" class="button event-btn cancel-btn">Отменить</button>
                <button id="cancelEditButton" class="button event-btn edit-btn hidden">Отменить</button>
                <button id="saveButton" class="button button-active event-btn hidden">Сохранить</button>
            </div>
            <div id="event-errors" class="eventindex-time__errors hidden">
                <i class="fa fa-frown-o frown-icon" aria-hidden="true"></i>
                <span class="error-text">Эта аудитория занята на выбраное время. Выберите, пожалуйста, другое.</span>
            </div>
        }
    </div>
</div>

<div class="eventindex-participants">
    <p>Зарегистрированные участники:</p>
    <table class="eventindex-participants__participants-table">
        <tr>
            <td>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <div class="participants-table-item">
                    <span>user@softheme.com</span>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </td>
            <td>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <div class="participants-table-item">
                    <span>user@softheme.com</span>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </td>
            <td>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <div class="participants-table-item">
                    <span>user@softheme.com</span>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <div class="participants-table-item">
                    <span>user@softheme.com</span>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </td>
            <td>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <div class="participants-table-item">
                    <span>user@softheme.com</span>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </td>
            <td>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <div class="participants-table-item">
                    <span>user@softheme.com</span>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <div class="participants-table-item">
                    <span>user@softheme.com</span>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </td>
            <td>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <div class="participants-table-item">
                    <span>user@softheme.com</span>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </td>
            <td>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <div class="participants-table-item">
                    <span>user@softheme.com</span>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </td>
        </tr>
    </table>
</div>


@Scripts.Render("~/bundles/datetimepickers")
@Scripts.Render("~/bundles/event-index")

@Html.Action("RoomPartial", "Room", new { id = Model.IdRoom })

@Html.Partial("_MapPartial")

