@model SofthemeRoomBooking.Models.UserViewModels.LayoutUserViewModel

@{ var authorized = Model != null; }

<div id="popup-create-event" class="overlay"></div>

@if (authorized)
{
    <button id="plusEventButton" class="menu__button">
        <i class="fa fa-plus plus-icon" aria-hidden="true"></i>
    </button>
}

<ul class="menu">

    <li class="menu__item">@Html.ActionLink("Расписание", "Index", "Home", null, new {@class = "menu__link"})</li>

    @if (authorized && ViewBag.AdminRole)
    {
        <li class="menu__item">@Html.ActionLink("Пользователи", "Users", "Profile", null, new {@class = "menu__link"})</li>
    }
    <li class="menu__item">@Html.ActionLink("Обратная связь", "Index", "Feedback", null, new {@class = "menu__link"})</li>

    @if (authorized)
    {
        <li class="menu__item">
            <a href="@Url.Action("Index", "Profile", new {userId = Model.Id})" class="menu__link">
                <i class="fa fa-user user-icon" aria-hidden="true"></i>
                <span>@Model.UserName</span>
            </a>
        </li>
    }
    else
    {
        <li class="menu__item">@Html.ActionLink("Вход", "LogIn", "Account", null, new {@class = "menu__link"})</li>
    }
</ul>

<script>
    $('#plusEventButton').bind('click', function (e) {
        e.preventDefault();

        $.ajax({
            url: '@Url.Action("CreateEvent", "Event")',
            method: 'GET',
            cache: true,
            dataType: 'html',
            success: function (result) {
                $('#popup-create-event').html(result);
                $('#popup-create-event').show();

                $.validator.unobtrusive.parse("#event-create-form");
            }
        });
    });
</script>