@using Microsoft.AspNet.Identity
@model SofthemeRoomBooking.Models.EventViewModel.EventDetailsViewModel

<div class="eventdetailedit">
    <div class="eventdetailedit__title">
        <div style="height:50%">
            <span style="color : white; margin: 3px 10px; font-size: 9pt;"> @Model.DayOfWeek, @Model.StartTime.Day @Model.Month</span>
            <div class="eventdetailedit-close">
                <i class="fa fa-window-minimize" aria-hidden="true"></i>
            </div>
            @if (User.IsInRole("Admin") || User.Identity.GetUserId() == Model.UserId)
            {
                <div class="eventdetailedit-change">Изменить</div>
                <div id="cancelevent" data-id="@Model.Id" class="eventdetailedit-cancel">Отменить</div>
            }
        </div>
        <div>
            <span style="color : white; margin: 5px 10px; font-size: 9pt;">@Model.StartTime.Hour:@Model.StartTime.Minute.ToString("00") - @Model.FinishTime.Hour:@Model.FinishTime.Minute.ToString("00")</span>
        </div>
    </div>
    <div class="eventdetailedit__main">
        <div>
            <p style="font-size: 20px;">@Model.Title</p>
        </div>
        <div>
            <p>@Model.Description</p>
        </div>
        <div>
            <div style="float: left">
                <i class="fa fa-user" aria-hidden="true" style="font-size: 25px;"></i>
                @if (Model.Nickname != null)
                {
                    <span>@Model.Nickname</span>
                }
                else
                {
                    <span>@Model.UserName</span>
                }
            </div>
            <div style="float: right">
                <i class="fa fa-users" aria-hidden="true" style="font-size: 25px;"></i>
                <span>@Model.ParticipantsQuantity</span>
            </div>
        </div>
        <div style="display: inline-flex">
            <div>
                <input type="text" class="input-text eventdetailedit__email-button" placeholder="Укажите e-mail что бы присоединится.">
            </div>
            <div style="margin-top: 19px">
                <i class="fa fa-plus" aria-hidden="true" style="font-size: 25px; color: #A6ABB6;"></i>
            </div>
        </div>
        <div class="eventdetailedit__icons" style="margin: 0 90px;">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <i class="fa fa-print" aria-hidden="true"></i>
            <i class="fa fa-link" aria-hidden="true"></i>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '#cancelevent', function () {
        var _this = $(this);
        var id = _this.data('id');
        $.ajax({
            url: window.location.origin + "/Event/CancelEventView",
            data: 'id=' + id,
            type: 'GET',
            success: function (res) {
                $('.week__scheduler').append(res);
            }
        });
    });
</script>
