@using Microsoft.AspNet.Identity
@model SofthemeRoomBooking.Models.EventViewModel.EventDetailsViewModel

<div class="eventdetailedit">
    <div class="eventdetailedit__title">
     
        <div class="detailed-header">
            <div class="detailed-time">
                <span>@Model.DayOfWeek, @Model.StartTime.Day @Model.Month</span>
                <span>@Model.StartTime.Hour:@Model.StartTime.Minute.ToString("00") - @Model.FinishTime.Hour:@Model.FinishTime.Minute.ToString("00")</span>
            </div>
            @if (User.IsInRole("Admin") || User.Identity.GetUserId() == Model.UserId)
            {
                if (DateTime.Now <= Model.StartTime)
                {
                    <div class="detailed-buttons">
                        <div class="eventdetailedit-change">Изменить</div>
                        <div id="cancelevent" data-id="@Model.Id" class="eventdetailedit-cancel">Отменить</div>
                    </div>
                }
            }
            <div class="eventdetailedit-close">
                <i class="fa fa-window-minimize" aria-hidden="true"></i>
            </div>
        </div>
       
        
    </div>
    <div class="eventdetailedit__main">
        <div>
            <h3>@Model.Title</h3>
        </div>
        @if (Model.AllowRegistration)
            {
            <div>
                <p>@Model.Description</p>
            </div>
            <div class="detailed-user">
                <div class="detailed-name">
                    <i class="fa fa-user" aria-hidden="true" style="font-size: 25px;"></i>
                    @if (Model.Nickname != null)
                    {
                        <span>@Model.Nickname</span>
                    }
                    else
                    {
                        <span>@Model.UserName</span>
                    }
                </div>
                <div class="detailed-num">
                    <i class="fa fa-users" aria-hidden="true" style="font-size: 25px;"></i>
                    <span>@Model.ParticipantsQuantity</span>
                </div>
            </div>

            <div>
                <input type="text" class="input-text eventdetailedit__email-input" placeholder="Укажите e-mail что бы присоединится.">
                <div class="eventdetailedit__email-button">
                    <i class="fa fa-plus" aria-hidden="true" style="font-size: 25px; color: #A6ABB6;"></i>
                </div>
            </div>
        }
        <div class="eventdetailedit__icons">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <i class="fa fa-print" aria-hidden="true"></i>
            <i class="fa fa-link" data-id="@Model.Id" id="eventdetail__link" aria-hidden="true"></i>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/event-details")
