@model SofthemeRoomBooking.Models.EventDetailsViewModel
<div class="eventdetail">
    <div class="eventdetail__title">
        <div class="detailed-header">
            <div class="detailed-time">
                <span>@Model.DayOfWeek, @Model.StartTime.Day @Model.Month</span>
                <span>@Model.StartTime.Hour:@Model.StartTime.Minute.ToString("00") - @Model.FinishTime.Hour:@Model.FinishTime.Minute.ToString("00")</span>
            </div>
            <div class="detailed-buttons">
                <div class="eventdetail-change">Изменить</div>
                <div id="cancelevent" data-id="@Model.Id" class="eventdetail-cancel">Отменить</div>
            </div>
            <div class="eventdetailedit-close">
                <i class="fa fa-window-minimize" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="eventdetailedit__main">
        <div>
            <h3>@Model.Title</h3>
        </div>   
    </div>
</div>

<script>
    $(document).on('click', '#cancelevent', function () {
        var _this = $(this);
        var id = _this.data('id');
        $.ajax({
            url: window.location.origin + "/Event/CancelEventView",
            data: 'id=' + id,
            type: 'GET',
            success: function (res) {
                $('.week__scheduler').append(res);
            }
        });
    });
</script>
