@using SofthemeRoomBooking.Services.Models
@model IEnumerable<SofthemeRoomBooking.Services.Models.RoomEquipmentModel>
@{
    List<RoomEquipmentModel> rooms = Model.ToList();
}

<div class="room">
    <div class="room__image">
        <img src="~/Content/Images/walls.png" />
        <img class="room__path room__path-1" id="path-1" src="~/Content/Images/Path/path-einstein.png" />
        <img class="room__path room__path-2" id="path-2" src="~/Content/Images/Path/path-tesla.png" />
        <img class="room__path room__path-3" id="path-3" src="~/Content/Images/Path/path-newton.png" />
        <img class="room__path room__path-4" id="path-4" src="~/Content/Images/Path/path-hr.png" />
        <img class="room__path room__path-5" id="path-5" src="~/Content/Images/Path/path-info.png" />
        <img class="room__path room__path-6" id="path-6" src="~/Content/Images/Path/path-web-1.png" />
        <img class="room__path room__path-7" id="path-7" style="z-index: 3" src="~/Content/Images/Path/path-web-2.png" />
        <img class="room__path room__path-8" id="path-8" src="~/Content/Images/Path/path-web-3.png" />
        <img class="room__path room__path-9" id="path-9" src="~/Content/Images/Path/path-ienglish.png" />
        
        <div class="room__number">Этаж 10</div>
        @if (User.IsInRole("Admin"))
        {
            <div class="button room__open">
                Открыть
            </div>
            <div class="button room__close">
                Закрыть
            </div>
            <div class="button room__change">
                Изменить
            </div>
        }
        <div data-num="12" data-pathid="teslapath" class="room__general room__tesla">
            <div class="room__teslatext">
                Tesla Classroom
            </div>
            <div class="room__teslaarrow">
            </div>
        </div>

        <div data-num="15" data-pathid="hrpath" class="room__general  room__hr">
            <div class="room__hrtext">
                HR office
            </div>
            <div class="room__hrarrow">
            </div>
        </div>

        @for (var i = 0; i < rooms.Count; i++)
        {
            <div data-roomid="@rooms[i].Id" data-num="@rooms[i].Equipments" data-pathid="path-@rooms[i].Id" class="room__general room-@rooms[i].Id">
                <div class="text room__text-@rooms[i].Id">
                    @rooms[i].Name
                </div>
                <div class="room__arrow room__arrow-@rooms[i].Id">
                </div>
            </div>

            if (!@rooms[i].IsAvalaible)
            {
                if (User.IsInRole("Admin"))
                {
                    <script>
                        $('.room-' + @rooms[i].Id).css('background', '#d7d9de');
                        $('.room-' + @rooms[i].Id).children('.text').css('background-color', '#acb0b6');
                        $('.room-' + @rooms[i].Id).addClass('room__general-blocked');
                    </script>
                }
                else
                {
                    <script>
                    $('.room-' + @rooms[i].Id).css('background', '#d7d9de');
                    $('.room-' + @rooms[i].Id).children('.text').css('background-color', '#acb0b6');
                    $('.room-' + @rooms[i].Id).css('pointer-events', 'none');
                    $('.room-' + @rooms[i].Id).removeClass('room__general').addClass('room__general-blocked');
                    </script>
                }

            }
        }
        <div class="room__number">Этаж 10</div>
        @if (User.IsInRole("Admin"))
        {
            <div class="button room__open" style="display: none">
                Открыть
            </div>
            <div class="button room__close" style="display: none">
                Закрыть
            </div>
            <div class="button room__change" style="display: none">
                Изменить
            </div>
        }

        <div class="room__equipment equipmentuser" style="display: none">
            @Html.Partial("_PopupEquipmentUserPartial")
        </div>
        <div class="room__equipmentadmin equipmentadmin">
            @*@Html.Action("RoomEquipment", "Room",new {id = 1})*@
        </div>
    </div>
</div>

