@model SofthemeRoomBooking.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    ViewBag.ChangePassword = true;
    Layout = "~/Views/Login/_Layout.cshtml";
}

@*<form id="change-password" action="" class="compl-background__form form">
    <div class="form__label">Смена пароля</div>
    <div class="form__process">
        <input class="input-text form__text-input" type="password" placeholder="Новый пароль">
        <input class="input-text form__text-input form__text-input-last" type="password" placeholder="Повторить новый пароль">
        <button class="button  form__button" type="submit">Отправить</button>
    </div>
    <div class="form__success">
        <p class="form__text">
            Пароль успешно изменен.
        </p>
    </div>
</form>*@
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "compl-background__form form", enctype = "multipart/form-data" }))
{
    <div class="form__label">Смена пароля</div>
    if (ViewBag.InvalidCredentials != null)
    {
        @Html.BigInvalidMessage("Неверные данные", new { @class = "error-box__text-danger" })
    }
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.Email)
    @Html.HiddenFor(model=>model.Code)
    <div class="group-input-error">
        @Html.SignalValidationMessageFor(model => model.Password, new { @class = "error-box__text-danger" })
        @Html.EditorFor(model => model.Password, new
        {
            htmlAttributes = new
            {
                @class = "input-text form__text-input",
                placeholder = "Новый пароль"
            }
        })
    </div>
    <div class="group-input-error">
        @Html.SignalValidationMessageFor(model => model.ConfirmPassword, new { @class = "error-box__text-danger" })
        @Html.EditorFor(model => model.ConfirmPassword, new
        {
            htmlAttributes = new
            {
                @class = "input-text form__text-input form__text-input-last",
                placeholder = "Повторите пароль"
            }
        })
    </div>
    <button class="button  form__button" type="submit">Отправить</button>
}
